@keyframes scroll-left {
    0% { transform: translateX(100%); }
    33% { transform: translateX(50%); }
    66% { transform: translateX(50%); }
    100% { transform: translateX(-100%); }
}

@keyframes scroll-right {
    0% { transform: translateX(-100%); }
    33% { transform: translateX(50%); }
    66% { transform: translateX(50%); }
    100% { transform: translateX(100%); }
}

@keyframes scroll-up {
    0% { transform: translateY(100%); }
    33% { transform: translateY(50%); }
    66% { transform: translateY(50%); }
    100% { transform: translateY(-100%); }
}

@keyframes scroll-down {
    0% { transform: translateY(-100%); }
    33% { transform: translateY(50%); }
    66% { transform: translateY(50%); }
    100% { transform: translateY(100%); }
}