.App {
    height: 100px;
    overflow: hidden;
    position: relative;
    color: white;
}

.App p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 100%;
    text-align: center;
    font-size: 30px;

    animation: scroll-up 10s linear infinite;
}
